$faluohong: #ee8055;            /* rgb(238, 128, 85); */
$flhOpposite: #55b5ee;          /*rgb(85, 181, 238)*/
$flh1: #b7ee55;                 /*rgb(183, 238, 85) */ /*I like*/
$flh2: #ee5b77;                  /*missing a digit!*/

thead {
    color: $flh2;
    background-color: $flh1;
}

tbody tr:nth-child(odd) {
    background: $flhOpposite;
}